<div class="sidebar">
    <div class="sidebar-logo">
        <div id="companyName" class="fw-bold fs-5">Şirket Adı</div>
        <img id="companyLogo" src="assets/logo.png" alt="Logo">
    </div>

    <a href="dashboard.html" data-page="dashboard">Dashboard</a>
    <a href="tevzi.html" data-page="tevzi">İş Atama</a>
    <a href="timeline.html" data-page="timeline">Zaman Çizelgesi</a>
    <a href="nfc-logs.html" data-page="nfc-logs">NFC Logları</a>
    <a href="personnel.html" data-page="personnel">Personel Yönetimi</a>
    <a href="card-management.html" data-page="card-management">Kart Yönetimi</a>

    <div class="sidebar-title">Yönetim</div>
    <a href="settings.html" data-page="settings">Ayarlar</a>
</div>